body{
	background-color: #DAD9DC;
	margin:0;
	font: 15px Trebuchet MS, sans-serif;
	color: black
}
.title{
	background-image: url('kqr9jemA.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.real{
	margin-left: 279px;
	padding:1px 16px;
	height:100%;
}
img{
	vertical-align:middle;
	}
	
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 279px;
  background-color: #2d2b30;
  height: 100%;
  position: fixed;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 18px 16px;
  text-decoration: none;
  text-shadow: 1px 2px 5px black;
}


.red a:hover {
  transition: color 0.5s;
  color: red;
}
.yellow a:hover {
  transition: color 0.5s;
  color: yellow;
}
.green a:hover {
  transition: color 0.5s;
  color: lime;
}
.blue a:hover {
  transition: color 0.5s;
  color: aqua;
}



.active {
  background-color: #04AA6D;
  color: white;
}

.notice {
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 180px;
	margin-top: 180px;
	text-align: center;
	height: 100%;
	background-color: #d1d1d1;
}